* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
    background-repeat: space;
    background-size: cover;
    min-height: 100vh;
}

.gradient__bg {
    /* ff 3.6+ */
    background: -moz-linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 129, 0, 1) 15%, rgba(255, 235, 59, 1) 33%, rgba(76, 175, 80, 1) 55%, rgba(63, 81, 181, 1) 77%, rgba(156, 39, 176, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 129, 0, 1) 15%, rgba(255, 235, 59, 1) 33%, rgba(76, 175, 80, 1) 55%, rgba(63, 81, 181, 1) 77%, rgba(156, 39, 176, 1) 100%);

    /* opera 11.10+ */
    background: -o-linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 129, 0, 1) 15%, rgba(255, 235, 59, 1) 33%, rgba(76, 175, 80, 1) 55%, rgba(63, 81, 181, 1) 77%, rgba(156, 39, 176, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9C27B0', endColorstr='#FF0000', GradientType=0);

    /* ie 10+ */
    background: -ms-linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 129, 0, 1) 15%, rgba(255, 235, 59, 1) 33%, rgba(76, 175, 80, 1) 55%, rgba(63, 81, 181, 1) 77%, rgba(156, 39, 176, 1) 100%);

    /* global 94%+ browsers support */
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 129, 0, 1) 15%, rgba(255, 235, 59, 1) 33%, rgba(76, 175, 80, 1) 55%, rgba(63, 81, 181, 1) 77%, rgba(156, 39, 176, 1) 100%);
}

.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}

.scroll__fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

/* Size for padding and margin on mobile devices or tablets */
@media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem;
    }

    .section__margin {
        margin: 4rem;
    }
}

@media screen and (max-width: 550px) {
    .section__padding {
        padding: 4rem 2rem;
    }

    .section__margin {
        margin: 4rem 2rem;
    }
}