a {
    color: inherit;
    text-decoration: none;
}

*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

.icon {
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    padding: 0.8rem;
    margin: 7px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px #0606061f;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.cierzo-games_rrss-text {
    position: absolute;
    top: 0;
    font-size: 14px;
    font-family: var(--font-family);
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px #0606061f;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.cierzo-games_rrss-text::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .cierzo-games_rrss-text {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.icon:hover .cierzo-games_rrss-text,
.icon:hover span {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.instagram:hover,
.instagram:hover .cierzo-games_rrss-text,
.instagram:hover .cierzo-games_rrss-text::before {
    background: #E4405F;
    color: #fff;
}

.youtube:hover,
.youtube:hover .cierzo-games_rrss-text,
.youtube:hover .cierzo-games_rrss-text::before {
    background: #CD201F;
    color: #fff;
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .cierzo-games_rrss-text,
.wrapper .facebook:hover .cierzo-games_rrss-text::before {
    background: #1877F2;
    color: #ffffff;
}