.cierzo-games__copyright {
    display: flex;
    justify-content: center;
    background: #707070;
    color: #fff;
    padding: 0.8rem;
    font-family: var(--font-family);
    font-size: 11px;
    width: 100%;
}